<template>
  <div id="app">
    <nav class="navbar is-fixed-top"  style="box-shadow: 0px 1px 4px 0px;">
        <div class="navbar-brand" >
            <a class="navbar-item" style="font-family: 'Fredericka the Great', cursive;">
              <img src="/img/Floor22.png" width="200" height="200">
            </a>
            <div class="navbar-burger burger" data-target="navhead" >
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navhead" class="navbar-menu" >
            <div class="navbar-end">
                <a class="navbar-item" style="color:#000"><strong>Home</strong></a>
                <a class="navbar-item" style="color:#000"> <strong>Shop</strong></a>
                <a class="navbar-item" style="color:#000"> <strong>About</strong></a>
                <a class="navbar-item" style="color:#000"> <strong>Contact</strong> </a>
            </div>
        </div>
    </nav>
    <div class="parallax"></div>
     <div class="imageText columns is-mobile">
       <div class="column is-centered">
          <h1 class="title is-1 has-text-black-ter">
           <span>DIY PRODUCT</span><br/>
           <span>FOR YOUR</span> <br>
           <span>Home</span>
          </h1>
          <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
            <ul style="justify-content: center;">
              <li class="is-active"><a href="#">matts</a></li>
              <li class="is-active"><a href="#">Mirrors</a></li>
              <li class="is-active"><a href="#">Watches</a></li>
              <li class="is-active"><a href="#" aria-current="page">More</a></li>
            </ul>
          </nav>
          <a
            class="button is-outlined"
            style="background: none;">
            SHOP HERE
          </a>
       </div>
      </div>
      <div class="columns" style="margin-top: -370px; margin-left: 20px; margin-right: 20px;">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
              <div class="tile">
                <div class="tile is-parent is-vertical">
                  <article class="clocks tile is-child notification has-text-black-ter">
                    <p class="title">Table Lambs</p>
                    <figure class="image is-4by3">
                    </figure>
                  </article>
                  <article class="tile clocks is-child notification has-text-black-ter">
                    <p class="title">...tiles</p>
                    <figure class="image is-4by3">
                    </figure>
                  </article>
                </div>
                <div class="tile is-parent">
                  <article class="tile wallmirrors is-child notification has-text-black-ter">
                    <p class="title">Mirrors</p>
                    <figure class="image is-4by3">
                    </figure>
                  </article>
                </div>
              </div>
            </div>
            <div class="tile is-parent">
              <article class="tile toiletmats is-child notification has-text-black-ter">
                <div class="content">
                  <p class="title">Toilet Mats</p>
                </div>
              </article>
            </div>
          </div>
      </div>
      <footer class="footer" style="padding: 56px; background-color: #8080804f">
        <div class="content">
          <a class="" style="font-family: 'Montserrat', sans-serif;">
            <strong style="font-size: 20px;color: black;"> <img src="/img/Floor22.png" width="100" height="100"></strong>
          </a>
          <div class="">
              <p>13th Rd, Noordwyk, Midrand, 1687</p>
          </div>
          <div class="container">
            <p>Cell 073 2423 298</p>
            <p>info@floor22.com</p>
            <a class="button" href="https://www.facebook.com/floor22ZA/" target="_blank">
              <span class="icon ">
                <i class="fab fa-facebook-f"></i>
              </span>
            </a>
            <a class="button" href="https://www.instagram.com/floor22za/" target="_blank">
              <span class="icon ">
                <i class="fab fa-instagram"></i>
              </span>
            </a>
          </div>
        </div>
      </footer>
  </div>
</template>

<script>

export default {
  name: 'app',
  mounted(){
    let burger = document.querySelector('.burger');
    let nav = document.querySelector('#'+burger.dataset.target);
 
    burger.addEventListener('click', function(){
      burger.classList.toggle('is-active')
      nav.classList.toggle('is-active')
    })
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.parallax {
  /* The image used */
  background-image: url("/img/image2.jpg");
  min-height: 700px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -100px;
}
.tablelamps {
  /* The image used */
  background-image: url("/img/tablelamps.jpg");
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.toiletmats {
  /* The image used */
  background-image: url("/img/toiletmats.jpg");
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.wallmirrors {
  /* The image used */
  background-image: url("/img/wallmirrors.jpg");
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.clocks {
  /* The image used */
  background-image: url("/img/clocks.jpg");
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.imageText{
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: -516px;
  text-transform: uppercase;
  color: #fff;
}
</style>
